<!DOCTYPE html>
<html ng-app="myappname">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Protractor</title>
        <meta name="description" content="Testing">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div ng-controller="MainCtrl">
            {{test}}
            <p>Hello world! This is HTML5 Boilerplate.</p>
        </div>


    </body>

    <script src="bower_components/requirejs/require.js" data-main="app/main"></script>
</html>
